/* src/components/Sidebar.css */

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #5f9dda;
    color: rgb(104, 147, 196);
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
  }
  
  .sidebar h2 {
    color: #ffc107;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: rgb(5, 41, 11);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #495057;
  }
  