html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/public/images/dennis-siqueira-QnMeRW36-zY-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
}

.auth-form {
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.auth-form:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.auth-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #f20000;
}

.auth-form form div {
  margin-bottom: 20px;
}

.auth-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.auth-form input:focus {
  border-color: #007bff;
  outline: none;
}

.auth-form .terms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.auth-form .terms-container input {
  margin-right: 10px;
}

.auth-form .error-message {
  color: red;
  margin-bottom: 15px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e36a0d;
  color: rgb(255, 0, 60);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.auth-form p {
  margin-top: 20px;
}

.auth-form p a {
  color: #007bff;
  text-decoration: none;
}

.auth-form p a:hover {
  text-decoration: underline;
}
